Repository Syknapse/Contribute-To-This-Project, pull requests merged in 2023-11, with the labels that each got.

#3357 txlan1710 card
  index.html
Labels: changes requested

#3361 docs: translation Indonesian Maintainer Guide
  maintainer_guide.md
  translations/README.md
  translations/maintainer_guide/maintainer_guide.ind.md
Labels: translation

#3370 Create NORWEGIAN.md
  translations/README/NORWEGIAN.md
Labels: enhancement, translation

#2913 Optimize night mode loading speed
  assets/script.js
  assets/style.css
Labels: enhancement, awaiting-response
